#toggler{
width: 140px;
height: 40px;
margin: 50px auto;
border:2px solid black;
background-color: white;
border-radius   :20px; 
cursor:pointer;
}

#toggler-circle{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: black;
    margin-top: 1px;
    margin-left:1px;
    transition: 1s;
}
 h1{
     font-size: 5rem;
     margin:  100px auto;
     text-align: center;
 }

 .color-white{
     color: white;
 }

 .bg-black{
     background-color: black;
 }
